body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
section.animation-wrapper {
  overflow: hidden;
}
body section.animation-wrapper section.animation .hero img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
body section.animation-wrapper .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgb(144, 144, 144), rgb(0, 0, 0));
  z-index: -1;
}
.animation {
  transition: opacity 1s ease-out;
}


.animation-complete {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
